{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="login-container size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
        <h1 class="mtext-105 cl2 txt-center p-b-30">Lost your Password ?</h1><br>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="bor8 m-b-20 how-pos4-parent">
                <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
            </div>
            <div>
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04"/>
            </div>
        </form>
    </div>
{% endblock fos_user_content %}