{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/faq.css') }}" rel="stylesheet">
{% endblock %}

{%  block body %}
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({{ asset('images/bg-02.jpg') }});">
        <h2 class="ltext-105 cl0 txt-center">
            FAQ
        </h2>
    </section>

    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            {% if faqs|length %}
                {% for faq in faqs %}
                    <div class="light-container m-b-3">
                        <h3>{{ faq.question }}</h3>
                        <div>{{ faq.answer|raw }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}