.admin-menu {
  color: #6c7ae0;
  font-family: Poppins-Regular;
  font-size: 16px;
  padding: 5px 0px;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  top: 13px;
  left: 15px;
}