.p-20 {
  padding:20px;
}

.border-cart {
  border-bottom: 1px solid #e6e6e6;
}

.border-right-cart {
  border-right: 1px solid #e6e6e6;
}

.margin-top-15 {
  margin-top: 15px;
}

.color-danger {
  color: red;
}