.block2-pic, .wrap-pic-w {
  span {
    position: absolute;
    background: black;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: Poppins-Medium;
    color: white;
  }
}

.column-4 {
  position: relative;

  .remove-item {
    position: absolute;
    top: 71px;
    right: -25px;
    color: red;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
}

.filter-send {
  min-width: 115px;
  height: 40px;
  margin-bottom: 20px;
}

.h-473 {
  height: 473px;
}
