.block2-pic, .wrap-pic-w {
  span {
    position: absolute;
    background: black;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: Poppins-Medium;
    color: white;
  }
}